

# Practical_1: Variables and Assignments

Exercise 1:
Declare a variable x and assign it the value 10.

# Exercise 1

In [18]:
x = 10
x

10

Exercise 2:
Assign the value True to a variable called is_valid.

# Exercise 2

In [19]:
is_valid = True
is_valid

True

Exercise 3:
Create a string variable name with the value "Python Programming".

# Exercise 3

In [20]:
name = "Python programming"
name

'Python programming'

Exercise 4:
Assign the result of 5 + 3 to a variable sum_result.

# Exercise 4

In [21]:
sum_result = 5 + 3
sum_result

8

Exercise 5:
Assign multiple variables in one line: a = 5, b = 10, c = 15.

# Exercise 5

In [22]:
a, b , c = 5, 10, 15
print(a, b , c )

5 10 15

Exercise 6:
Assign the value of one variable x to another variable y.

# Exercise 6

In [23]:
x = y = 1
print(x)

1

Exercise 7:
Assign a floating-point number 9.8 to a variable gravity.

# Exercise 7

In [101]:
# gravity = float(9.8)
gravity = 9.8
gravity

9.8

Exercise 8:
Create a variable country and assign it the string value of your favorite country.

# Exercise 8

In [25]:
country = "Japan"
country

'Japan'

Exercise 9:
Change the value of variable age from 25 to 26 in two separate steps.

# Exercise 9

In [26]:
age = 25
age = 26
age

26

Exercise 10:
Use one variable to store the result of subtracting two numbers 20 - 7.

# Exercise 10

In [27]:
result = 20 - 7
result

13

Exercise 11:
Assign an integer value and a floating-point value to two different variables.

# Exercise 11

In [5]:
s = int(9)
t = float(3.6)

## 
z = float(3)

Exercise 12:
Assign a boolean value False to a variable is_completed.

# Exercise 12

In [28]:
is_complete = False
is_complete

False

Exercise 13:
Swap the values of two variables x and y.

# Exercise 13

In [33]:
x = 3
y = 7
# x, y = y, x
# print(x,y)

# z = y
# y = x
# x = z
# print(x,y)

y = x + y 
x = y - x
y = y - x
print(x,y)

7 3

Exercise 14:
Assign a complex number 3 + 4j to a variable complex_num.

# Exercise 14

In [8]:
complex_num = 3 + 4j

Exercise 15:
Reassign a variable from an integer to a string.

# Exercise 15

In [9]:
x = 4
x = str(x)
type(x)

str

Exercise 16:
Create two variables first_name and last_name, and assign them your first and last names.

# Exercise 16

In [37]:
first_name = "Deborah"
last_name = "Aunga"
print(first_name, last_name)

Deborah Aunga

Exercise 17:
Create a variable temperature and assign it the value of 35.5.

# Exercise 17

In [36]:
temperature = 35.5
temperature

35.5

Exercise 18:
Assign the result of the multiplication of two numbers 8 * 6 to a variable product.

# Exercise 18

In [35]:
variable_product = 8 * 6
variable_product

48

Exercise 19:
Assign a sentence of your choice to a variable sentence.

# Exercise 19

In [34]:
sentence = " I miss home"
print(sentence)

 I miss home

Exercise 20:
Use an assignment to convert a string '50' into an integer variable int_value.

# Exercise 20

In [17]:
int_value = int("50")
int_value

50

Exercise 21:
Assign the result of dividing 144 by 12 to a variable quotient.

# Exercise 21

In [42]:
quotient = 144//12
quotient

12

Exercise 22:
Assign the remainder of 47 divided by 5 to a variable remainder.

# Exercise 22

In [40]:
remainder = 47 % 5
remainder

2

Exercise 23:¶
Create a variable is_student and assign it the value True.

# Exercise 23

In [41]:
is_student = True
is_student

True

Exercise 24:¶
Use a variable to store the result of a modulo operation: 45 % 4.

# Exercise 24

In [43]:
res = 45 % 4
res

1

Exercise 25:
Create a variable pi and assign it the value 3.14159.

# Exercise 25

In [44]:
pi = 3.14159
pi

3.14159

Exercise 26:
Create two variables length and width, assign them values, and calculate the area of a rectangle.
# Exercise 26

In [45]:
length = 13
width  = 11

Area = length * width
Area

143

Exercise 27:
Assign a negative number to a variable negative_value.

# Exercise 27

In [46]:
negative_value = -33
negative_value

-33

Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable greeting.

# Exercise 28

In [48]:
greeting = "Hello, World!"
greeting

'Hello, World!'

Exercise 29:
Create a variable population and assign it a large integer value (in billions).

# Exercise 29

In [54]:
population = 45 ** 9
population

756680642578125

Exercise 30:
Use a variable to store the result of raising 2 to the power of 8.

# Exercise 30

In [55]:
result = 2 ** 8
result

256

Exercise 31:
Assign a list of your favorite fruits to a variable fruits.

# Exercise 31

In [57]:
fruits = ["Mango", "Banana","Melon"]
fruits

['Mango', 'Banana', 'Melon']

Exercise 32:
Assign a tuple of three numbers to a variable coordinates.

# Exercise 32

In [60]:
coordinates = 1,3,4
coordinates
type(coordinates)

tuple

Exercise 33:
Assign a dictionary with keys name and age to a variable person.

# Exercise 33

In [66]:
person = dict(name="Debb", Age=21)
person['name']

'Debb'

Exercise 34:
Use variables to store the sum of two floating-point numbers.

# Exercise 34

In [67]:
x = 4.5
y = 5.4
floating_point_num = x + y
floating_point_num

9.9

Exercise 35:
Create a variable is_sunny and assign it the result of a comparison 10 > 5.

# Exercise 35

In [69]:
is_sunny = 10 > 5
is_sunny

True

Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

# Exercise 36

In [71]:
c = "I am going home at"
d = 6

print(c,d)

I am going home at 6

Exercise 37:
Reassign a variable that originally held a number to a boolean value.

# Exercise 37

In [75]:
x = 500
y = bool(x)
y

True

Exercise 38:
Create a variable is_weekend and assign it the result of False.

# Exercise 38

In [76]:
is_weekend = False
is_weekend

False

Exercise 39:
Assign a multi-line string to a variable description.

# Exercise 39

In [83]:
description = '''Hello, my name is
is debby, I am 21'''
print (x)

Hello, my name is
is debby, I am 21

Exercise 40:
Use variables to store the result of the absolute value of -25.

# Exercise 40

In [85]:
absol_val = abs(-25)
absol_val

25

Exercise 41:
Assign the result of a floor division 100 // 6 to a variable floor_div_result.

# Exercise 41

In [87]:
 floor_div_result = 100//6
print( floor_div_result)

16

Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable mixed_sum.

# Exercise 42

In [88]:
mixed_sum = 3.5 + 5
mixed_sum

8.5

Exercise 43:
Assign a boolean value based on the comparison of two variables a = 10 and b = 15.

# Exercise 43

In [91]:
a = 10
b = 15
value = (a == 10 and b ==15)
print(value)

True

Exercise 44:
Assign a long sentence to a variable and count its characters using len().

# Exercise 44

In [92]:
name = "Deborah Aunga"
len(name)

13

Exercise 45:
Assign a fractional result 7 / 3 to a variable division_result.

# Exercise 45

In [93]:
division_result = 7/3
division_result

2.3333333333333335

Exercise 46:
Create a variable speed and assign it the value of 100 kilometers per hour.

# Exercise 46

In [94]:
speed = "100 kilometers per hour"
speed

'100 kilometers per hour'

Exercise 47:
Assign a multi-variable equation like y = 3x + 5 where x = 4 to a variable y.

# Exercise 47

In [97]:
x = 4
y = 3*x + 5

print(y)

17

Exercise 48:
Use variables to calculate and store the average of three numbers.

# Exercise 48

In [100]:
var = [2,33,55]
total = sum(var)
count = len(var)
average = total/count
average

30.0